<h1>Lists</h1>
<hr>

<div class="d-flex flex-row flex-wrap p-5 justify-content-around">
  <% @lists.each do |list| %>
    <div class="list-card" style="background-image: url('<%= cl_image_path(list.photo.key) %>')">
      <%= link_to list.name, list_path(list) %>
    </div>
  <% end %>
</div>
